
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Slight upward movement */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: Arial, sans-serif;
}

h1, p{
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    text-align: center;
}


.text-box {
    animation: fadeIn 1.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
    background-color: #4a7267; 
    color: white;
    text-align: center;
    padding: 1.5rem;
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    margin: 1.5rem 0;
}

.text-box:hover{
    background-color: #30959c; 
}

a:link, a:visited{
    color:#5edfff;
}

h1, h2 {
    color: white;
    font-weight: bold;
}
